.vs
x64
TempOutput
__pycache__
install
install_dotnet
*.vcxproj.user
*.orig
*.aps
MRLog*.txt
build/*
install.log
installError.log
lib/*
include/*
share/*
bin/*
thirdparty_build/*
/test_data
distr/*
*.log
/docker/logs/
macos/Resources/LICENSE
test_python/*.png
source/**/config_cmake.h
/.idea/
source/MRDotNetTest/bin/*
source/MRDotNetTest/obj/*
/cmake-build-*/
/doc/
/pytest_temp
/lib
/lib64
/include
/out/build/
.cache
venv/*
wheelhouse/*

examples/python-examples/*.stl
examples/python-examples/*.obj
examples/python-examples/*.ply
examples/python-examples/*.ctm
/source/MeshSDKC2/include
/source/MeshSDKC2/src
/source/MeshSDKC2/temp
compile_commands.json
/source/CustomMRPlatform.props